.signUpForm input:invalid {
    background-color: #ffdddd !important;
  }
  
  .signUpForm:invalid {
    border: 5px solid #ffdddd;
  }
  
  .signUpForm input:valid {
    background-color: #ddffdd !important;
  }
  
  .signUpForm:valid {
    border: 5px solid #ddffdd;
  }
  
  .signUpForm input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  .signUpForm input:required:invalid {
    border-color: #c00000;
  }
  