.signInForm input:invalid {
    background-color: #ffdddd !important;
  }
  
  .signInForm:invalid {
    border: 5px solid #ffdddd;
  }
  
  .signInForm input:valid {
    background-color: #ddffdd !important;
  }
  
  .signInForm:valid {
    border: 5px solid #ddffdd;
  }
  
  .signInForm input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  .signInForm input:required:invalid {
    border-color: #c00000;
  }
  